body {
  background-color: #707981;
}
.wrapper {
  position: relative;
  max-width: 500px;
  margin: 50px auto 0;
  background: white;
  border-radius: 4px;
  border-color: bisque;
  padding: 50px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.titleContacts {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
