.contactsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #707981;
  background-color: #e9eff6;
  margin-bottom: 10px;
  border-radius: 4px;

  border: #707981;
}

.btnContact {
  width: 100px;
  margin: 10px 10px 10px 0;

  line-height: 40px;
  border-width: 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background: #8c7c75;

  color: white;
  font-size: 14px;
  cursor: pointer;
}

.btnContact:hover,
.btnContact:focus {
  background: #2c2624;
}
