body {
  background-color: #707981;
}
.navWrapper {
  display: flex;
  padding: 20px 20px 20px 0;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.userWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 325px;
}

.link {
  display: block;
  width: 100px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  background: #8c7c75;
  color: white;
  border-radius: 4px;
  border: none;
}

.link:hover,
.link:focus,
.link.active {
  background: #2c2624;
}

.greeting {
  margin: 0 20px 0 auto;
  color: white;
}
